DATABASE_URL=your_database_url_here
NEXT_PUBLIC_API_URL=your_api_url_here
NEXTAUTH_SECRET=your_nextauth_secret_here
EMAIL_SERVICE=your_email_service_here
EMAIL_USERNAME=your_email_username_here
EMAIL_PASSWORD=your_email_password_here
SOCIAL_MEDIA_TWITTER=your_twitter_username_here
SOCIAL_MEDIA_LINKEDIN=your_linkedin_username_here
SOCIAL_MEDIA_INSTAGRAM=your_instagram_username_here
SOCIAL_MEDIA_FACEBOOK=your_facebook_username_here
SOCIAL_MEDIA_GITHUB=your_github_username_here
SITEMAP_URL=https://www.soniaganda.com/sitemap.xml
ROBOTS_TXT=User-agent: *\nDisallow: /api/